@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue              : #06BCEF;
// Add pink and its invert
$pink              : #FF8080;
$pink-invert       : #FFF;
// Update the sans-serif font family
$family-sans-serif : 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary           : $pink;
$primary-invert    : $pink-invert;

// 4. Import the rest of Bulma


@import '../node_modules/bulma/bulma';


html {
  background-color : #4A484B;
}

h1 {
  padding : 10px
}

html,
body {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;
}

body > footer {
  margin-top : auto;
}

#game {
  position : sticky;
  width    : 42.5em;
}

.tile.is-ancestor {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile.is-ancestor:not(:last-child) {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile.is-parent {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.piece, .basePiece, .pieceImage {
  background : transparent;
  height     : 90.6px;
  position   : absolute;
  width      : 75.5px;
}

.pieceImage:hover {
  background : bulmaRgba($pink, 0.4);
  position   : absolute;
  z-index    : 99999;
}


.hint, .selected, {
  height         : 90.6px;
  pointer-events : none;
  position       : absolute;
  width          : 75.5px;
  z-index        : 99999;
}

.hint {
  background : bulmaRgba($yellow, 0.4);
}

.selected {
  background : bulmaRgba($green, 0.4);
}

body::-webkit-scrollbar-track {
  background-color   : #121212;
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
  background-color : #121212;
  width            : 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color   : white;
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, .3);
}

.menu {
  width            : 25rem;
  position         : fixed;
  height           : 100%;
  background-color : #121212;
  z-index          : 999999;
}

.menu p {
  color : white;
}

.menu a {
  color : white;
}

.menu a:hover {
  color : #06BCEF;
}

.button {
  background : #121212;
  border     : 2px solid #121212;
  color      : #FFF;

  &:hover, &:active, &:focus {
    background : darkslategrey;
    border     : 2px solid #121212;
    color      : white;
  }

  &:disabled {
    background : black;
    border     : 2px solid #121212;
  }
}

.dropdown-content, .dropdown-item {
  background : #121212;
  color      : white;
}

#load {
  height   : 279px;
  left     : calc(50% - 489px / 2);

  position : fixed;
  top      : calc(50% - 279px / 2);
  width    : 489px;
  z-index  : 9999;
}

#hint:hover > .hint-button {
  background : url('../img/Icons/idea-lit.svg');

}


.hint-button, .reshuffle-button, .undo-button {
  float    : left;
  height   : 16px;
  margin   : 5px;
  padding  : 10px;
  position : relative;
  width    : 16px;
}

.hint-button {
  background : url('../img/Icons/idea-unlit.svg');
}

#reshuffle:hover > .reshuffle-button {
  background : url('../img/Icons/reshuffle-lit.svg');
}

.reshuffle-button {
  background : url('../img/Icons/reshuffle-unlit.svg');
}

#undo:hover > .undo-button {
  background : url('../img/Icons/undo-lit.svg');
}

.undo-button {
  background : url('../img/Icons/undo-unlit.svg');
}

.flag:hover {
  background : bulmaRgba($grey, 0.8);
}

#layout-list, #difficulty-list{
  transition: all 0.5s ease;
}
