@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue              : #06BCEF;
// Add pink and its invert
$pink              : #FF8080;
$pink-invert       : #FFF;
// Update the sans-serif font family
$family-sans-serif : 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary           : $pink;
$primary-invert    : $pink-invert;

// 4. Import the rest of Bulma


@import '../node_modules/bulma/bulma';


html {
  background-color : #4A484B;
}

#game {
  height : 51em;
  width  : 42.5em;
}

.tile.is-ancestor {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile.is-ancestor:not(:last-child) {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile.is-parent {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.tile {
  height  : auto;
  margin  : 0;
  padding : 0;
  width   : auto;
}

.navbar .navbar-brand {
  background : #121212;
  display    : block;
  font-size  : x-large;
  position   : fixed;
  text-align : center;
  width      : 100%;
}

.piece {
  background : transparent;
  height     : auto;
  position   : absolute;
  width      : auto;

  &:hover {
    background : darkgrey;
  }
}

.hint {
  background : bulmaRgba($yellow, 70);
  z-index    : 99;
}

.selected {
  background : rebeccapurple;
  position   : absolute;
}

#load {
  height   : 279px;
  left     : calc(50% - 489px / 2);

  position : fixed;
  top      : calc(50% - 279px / 2);
  width    : 489px;
  z-index  : 9999;
}


//Loading https://codepen.io/kathykato/pen/YzKGrqd
